footer {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 255);
    color: white;
    height: 58px;
}

.cpright {
    margin: 14px;
    padding: 3px;
    font-family: 'Josefin Sans', sans-serif;
}