@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    background-color: rgb(0, 0, 255);
    font-family: 'Josefin Sans', sans-serif;
}

nav{
    display: flex;
    width:100vw;
    height:10vh;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img {
    width: 100px;
    height: 29px;
    padding: 0 25px;
}
nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    padding: 0px 23px;
    list-style: none;

}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: bolder;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 400px;
    height: 29px;
    border-radius: 6px;
    padding: 0px 12px;
    margin:0 3px;
}

.search button {
    color:white;
    height: 30px;
    width: 55px;
    background-color:blue;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

