@media screen and (max-width:1000px){

    nav{
        flex-direction: column;
        height:15vh;
    }

    .logo{
        justify-content: center;
        margin: 12px 0;
    }

    nav ul{
        justify-content: center;
        height: 34px;
    }

    .search{
        justify-content: center;
    }

    .search input{
        margin: 12px 16px;
        width: 55vw;
    }

    .slider{
        padding:70px 0 0 0;
    }
    .slider img{
        height: 40vh;
        width: 80vw;
    }
}